<div class="article-edit">
  <div>
    <div class="input">
      <label for="title">Заголовок</label>
      <input id="title" type="text" [(ngModel)]="title" />
    </div>
    <div class="input">
      <label for="content">Описание</label>
      <textarea
        name=""
        id="content"
        cols="30"
        rows="10"
        [(ngModel)]="content"
        (ngModelChange)="onChange()"
      ></textarea>
    </div>
    <div class="buttons-wrapper">
      <button class="button" type="button" (click)="onDelete()">Удалить</button>
      <button
        class="button"
        type="button"
        [disabled]="!isModified"
        (click)="onSave()"
      >
        Сохранить
      </button>
    </div>
  </div>
</div>
